<div class="row">
    <div class="col-8 offset-2">
        <div class="jumbotron bg-light">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Location</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th><a class="btn btn-primary" style="border-radius: 50%">+</a></th>
                    </tr>
                </thead>
                <tbody *ngFor="let center of centers">
                    <tr>
                        <td>{{center.id}}</td>
                        <td>{{center.location}}</td>
                        <td>{{center.name}}</td>
                        <td>{{center.city}}</td>
                        <td>{{center.state}}</td>
                        <td>
                            <a class="btn btn-primary" href="/center/{{center.id}}/edit">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



