<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron bg-light border border-primary rounded p-3">
            <h1 class="d-flex justify-content-center text-primary">Register a doctor</h1>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username" class="text-secondary" >Email</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{'is-invalid' : submitted && username?.errors?.['required']}">
                    <div *ngIf="submitted && username?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div class="form-group" *ngIf="isSignIn">
                    <label for="password" class="text-secondary">Password</label>
                    <input type="text" formControlName="password" class="form-control" [ngClass]="{'is-invalid' : submitted && password?.errors?.['required']}">
                    <div *ngIf="submitted && password?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullname" class="text-secondary">Full Name</label>
                    <input type="text" formControlName="fullname" class="form-control" [ngClass]="{'is-invalid' : submitted && fullname?.errors?.['required']}">
                    <div *ngIf="submitted && fullname?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="text-secondary">Last Name</label>
                    <input type="text" formControlName="lastname" class="form-control" [ngClass]="{'is-invalid' : submitted && lastname?.errors?.['required']}">
                    <div *ngIf="submitted && lastname?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="text-secondary">Phone</label>
                    <input type="text" formControlName="phone" class="form-control" [ngClass]="{'is-invalid' : submitted && phone?.errors?.['required']}">
                    <div *ngIf="submitted && phone?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="center" class="text-secondary">Center</label>
                    <select formControlName="center" class="form-control" [ngClass]="{'is-invalid' : submitted && center?.errors?.['required']}">
                        <option *ngFor="let xcenter of centers" [value]="xcenter.name">{{xcenter.name}}</option>
                    </select>
                    <div *ngIf="submitted && center?.errors?.['required']" class="text-danger">
                        Required !
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="form-group"><button [disabled]="loading" class="btn btn-success mt-3">Register</button></div>
            </form>
        </div>
    </div>
</div>
