<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron bg-light border border-primary border-3">
            <h3 class="d-flex justify-content-center text-success">Make an appointment</h3>
            <form [formGroup]="appointForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fullname" class="text-secondary" >Full Name</label>
                    <input type="text" formControlName="fullname" class="form-control" [ngClass]="{'is-invalid' : submitted && fullname?.errors?.['required']}">
                    <div *ngIf="submitted && fullname?.errors?.['required']" class="text-danger">
                        Your Username is required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="text-secondary">Lastname</label>
                    <input type="text" formControlName="lastname" class="form-control" [ngClass]="{'is-invalid' : submitted && lastname?.errors?.['required']}">
                    <div *ngIf="submitted && lastname?.errors?.['required']" class="text-danger">
                        Your lastname is required !
                    </div>
                </div>
                <div class="form-group">
                    <label for="appointDate" class="text-secondary">Date of your Appointment</label>
                    <input type="date" formControlName="appointDate" class="form-control" [ngClass]="{'is-invalid' : submitted && appointDate?.errors?.['required']}">
                    <div *ngIf="submitted && appointDate?.errors?.['required']" class="text-danger">
                        Please select a valid date for your appointment !
                    </div>
                </div>
                <div class="form-group">
                    <label for="mail" class="text-secondary">E-mail address</label>
                    <input type="email" formControlName="mail" class="form-control" [ngClass]="{'is-invalid' : submitted && mail?.errors}" [email]="true">
                    <div *ngIf="submitted && mail?.errors" class="text-danger">
                        Please type a valid email address !
                    </div>
                </div>


                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="form-group"><button [disabled]="loading" class="btn btn-success">Validate your appointment</button></div>
            </form>
                <div><button class="btn btn-danger" (click)="onCancel()">Cancel</button></div>
        </div>
    </div>
</div>